*{
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
    margin: 15px 30px;
    padding: 10px;
}
.container{
    background-color: azure;
    padding: 5px 20px 15px 20px;
    border-radius: 5px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"]
select{
    width: 100%;
    background-color: cornsilk;
    border: 1px solid black;
    border-radius: 10px;
}
fieldset{
    background-color:cornsilk;
    border: 1px solid black;
}
.main_heading{
    text-align: center;
}
input[type="submit"]{
    background-color: rgb(93, 93, 243);
    color: rgb(228, 210, 204);
    padding: 7px 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%
    
}
input[type="submit"]:hover{
    background-color: rgb(136, 218, 219);
    color: firebrick;
}